.galary {
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid firebrick; */
    text-align: center;
    font-size: 18px;
    color: var(--primary);
}

.galary > div {
    margin-bottom: 30px;
    /* border: 1px solid rgb(178, 34, 34); */
}

.galary__title {
    font-size: 4rem;
    /* border: 1px solid rgb(178, 34, 159); */
}
 
.galary__subtitle {
    color: var(--secondary);
    margin-bottom: 50px;
    /* border: 1px solid rgb(178, 34, 159); */
}
