.header {
    display: flex;
    align-items: center;
    height: 60px;
    font-size: 30px;
    border-bottom: 1px solid whitesmoke;
    color: var(--primary);
    padding: 0 10px;
    margin-bottom: 30px;
}
