#fileInput {
    display: none;
}

.uploadForm__input > label {
    border-radius: 500px;
    padding: 10px 20px;
    margin: auto;
    color: rgb(63, 219, 240);
    transition: box-shadow 100ms linear;
    box-shadow: 0 1px 2px 0 rgba(83, 169, 235, 0.302),
        0 2px 6px 2px rgba(40, 118, 179, 0.149);
    cursor: pointer;
}

.uploadForm__input > label:active {
    box-shadow: none;
}

.uploadForm__output {
    margin-top: 15px;
    font-size: 14px;
}

.uploadForm__error {
    margin: 30px auto;
    color: var(--error);
}

.uploadForm__fileName {
    color: var(--primary);
    margin: 30px auto;
    font-size: 12px;
}