@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
  --primary: gray;
  --secondary: rgb(207, 207, 207);
  --error: rgb(241, 54, 8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  max-width: 2000px;
  margin: auto;
}
